$itemW: 64px
$itemH: 64px

=prefix($name, $argument)
	$name: unquote($name)
	$argument: unquote($argument)
	-webkit-#{$name}: #{$argument}
	-ms-#{$name}: #{$argument}
	-moz-#{$name}: #{$argument}
	-o-#{$name}: #{$argument}
	#{$name}: #{$argument}

*
	padding: 0
	margin: 0

body
	font-family: "Fira Mono", "Lucida Console", monospace
	background: #555

#oeltjen
	position: fixed
	top: 0
	left: 0
	right: 0
	padding: 16px
	overflow: hidden
	svg
		width: 100%
		height: auto

#items 
	max-width: 1024px
	text-align: center
	padding: 32px 16px 64px 16px
	margin: 0 auto
	li
		position: relative
		display: inline-block
		width: $itemW*3
		height: $itemH*3
		// outline: 1px solid yellow
	span
		position: absolute
		display: block
		width: $itemW
		height: $itemH
		margin: 0 auto
		+prefix("transition", "all 400ms ease")
		
		b
			line-height: $itemH
		i
			position: absolute
			font-size: 14px
			font-style: normal
			text-transform: capitalize
			top: 100%
			left: -32px
			right: -32px
			color: #ccc
			padding-top: 8px
			text-align: center
			+prefix("text-shadow", "1px 2px 3px #111")
			
	a:hover span i
		color: #ffffff
	svg
		width: $itemW
		height: $itemH
		display: block
		vertical-align: top	

@media only screen and (max-width: 600px)
	#items 
		padding: 32px 8px 64px 8px
		li
			width: $itemW*2
			height: $itemH*2.5


#about
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: -1
	opacity: 0
	background-color: rgba(#000000, 0.85)
	// background-image: url('assets/bg.gif')
	overflow-y: scroll
	padding: 16px
	+prefix("transition", "all 240ms ease")
	.inner
		font-size: 16px
		color: white
		max-width: 640px
		margin: 0 auto
	p 
		span
			color: #ffffff
		b 
			color: #aa03e8
			&:after
				content: " "
	.close
		position: absolute
		top: 0
		right: 0
		a
			display: block
			height: 48px
			width: 48px
			font-size: 24px
			line-height: 48px
			color: white
			text-decoration: none
			text-align: center
			&:hover	
				background-color: #ffffff
				color: #000000
		
[state="about"] #about
	z-index: 5
	opacity: 0.999


