<title>{{ site.title }}</title>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta http-equiv="cleartype" content="on">
<meta charset="utf-8">
<meta name="description" content="{{ site.description }}"></meta>

<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta name="DC.Language" content="en">

<link rel="shortcut icon" href="favicon.ico">

<meta name="theme-color" content="#139346">

{% capture styles %}
{% include screen.sass %}
{% endcapture %}

<style>{{ styles | sassify }}</style>
